body {
  margin: 0;
  background-color: rgba(255, 168, 117, 0.46);

}

.app-content{
  margin: 100px;
  padding: 50px;

}

.div-center{
  text-align: center;
}

.app-input-icon {
  font-size: 16px;
}

.card { 
  margin-top: 50px;
  width:250px; 
  background-color: rgba(148, 148, 148, 0.4);
}


.group {
  position: relative;
  margin-bottom: 45px;

}

.corner-ribbon{
  width: 200px;
  background: #e43;
  position: absolute;
  top: 25px;
  left: -50px;
  text-align: center;
  line-height: 50px;
  letter-spacing: 1px;
  color: #f0f0f0;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

/* Custom styles */

.corner-ribbon.sticky{
  position: fixed;
}

.corner-ribbon.shadow{
  box-shadow: 0 0 3px rgba(0,0,0,.3);
}

/* positions */
.corner-ribbon.top-right{
  top: 25px;
  right: -50px;
  left: auto;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
#err {
  color : red;
}

#logo {
  height: 25px;
  width: 128px;
  outline: none;
  cursor: pointer;
}