<div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle no-border" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <img src='/assets/images/user-icon.png'><span class="spacer"></span> {{ getLoggedUser() }} <span class="big-spacer"></span><span class="fa fa-chevron-down"></span>
  </button>
  <ul class="dropdown-menu">
    <li><a href="#">Profile</a></li>
    <li role="separator" class="divider"></li>
    <li><a href='#' (click)='logout($event)' i18n>Logout</a></li>
    <li><a [routerLink]="['/login']">Logout</a></li>
  </ul>
</div>
