

.name,.uri{
  padding: 0 40px;
}

.border{
  padding: 10px 50px;
  overflow: hidden;
}

.extension-panel-container{
  margin-top: 80px;
  position: absolute;
  width: 100%;
}

.key {
  color: #ffab91;
  margin-right: 5px;
}

.image_profile{
  height:150px;
  border-radius: 50%;
  margin-bottom:25px;
}
