<div class="smd-bottom-nav-content">
    <ng-template ngFor let-nav [ngForOf]="navs" let-i="index">
        <div class="smd-bottom-nav-item" *ngIf="i == currentIndex">
            <div [@itemState]="nav.state">
                <ng-template *ngTemplateOutlet="nav.content"></ng-template>
            </div>
        </div>
    </ng-template>
</div>
<div class="smd-bottom-nav-actions">
    <ng-template ngFor let-nav [ngForOf]="navs" let-i="index">
        <div class="smd-bottom-nav-action" (click)="setActiveIndex(i)" [class.smd-bottom-nav-active]="i == currentIndex" #item>
            <ng-template *ngTemplateOutlet="nav.label?.template"></ng-template>
            <div class="smdRipple-area" matRipple [matRippleTrigger]="item"></div>
        </div>
    </ng-template>
</div>
<ng-template>
    <ng-content select="smd-bottom-nav"></ng-content>
</ng-template>