/* You can add global styles to this file, and also import other style files */
/*@import 'assets/prebuilt-themes/g-orange.css';*/
@import 'assets/prebuilt-themes/orange.scss';

body {
  margin: 0;
}

h1, h2, h3{
  font-family: 'Roboto'; 
  font-weight: 400;
}