<mat-card class="sidebar" *ngIf="showSidebar">
    <!-- <button [style.right.px]="sidebar(170)" mat-icon-button class="subfilter_button" (click)="showSidebar = !showSidebar;" *ngIf="!showSidebar"><mat-icon class="close_icon">tune</mat-icon></button>-->
     <button class="close_button" mat-icon-button (click)="setSidebar()"><mat-icon>close</mat-icon></button>
     <mat-list>
        <span class="label">Types</span><button mat-icon-button [matTooltip]="isAllSelected(activeType) ? 'Deselect all' : 'Select all' " (click)="selectType()"><mat-icon [color]="isAllSelected(activeType) ? 'primary' : 'black' " class="done_all">done_all</mat-icon></button>
       <mat-list-item class="list-item" *ngFor="let elem of activeType">
          <mat-checkbox color="primary"  (change)="counter()" [(ngModel)]="elem.enabled" [checked]="elem.enabled">{{elem.name}}<i class="nitem">({{elem.count}})</i></mat-checkbox>
        </mat-list-item>
       <span class="label">Repositories</span><button mat-icon-button [matTooltip]="isAllSelected(activeRepositories) ? 'Deselect all' : 'Select all' " (click)="selectRep()"><mat-icon [color]="isAllSelected(activeRepositories) ? 'primary' : 'black' " class="done_all">done_all</mat-icon></button>
       <mat-list-item class="list-item" *ngFor="let item of activeRepositories">
         <mat-checkbox color="primary"  (change)="counter()" [(ngModel)]="item.enabled" [checked]="item.enabled">{{item.name}}<i class="nitem">({{item.count}})</i></mat-checkbox>
       </mat-list-item>
     </mat-list>
</mat-card>





         <!-- <mat-list-item class="list-item">
         <mat-checkbox [(ngModel)]="videofilter" [checked]="videofilter">Video<i class="nitem"> ({{VideoResult}})</i></mat-checkbox>
       </mat-list-item>
       <mat-list-item class="list-item">
         <mat-checkbox [(ngModel)]="audiofilter" [checked]="audiofilter">Audio<i class="nitem"> ({{AudioResult}})</i></mat-checkbox>
       </mat-list-item>
       <mat-list-item class="list-item">
         <mat-checkbox [(ngModel)]="textfilter" [checked]="textfilter">Text<i class="nitem"> ({{TextResult}})</i></mat-checkbox>
       </mat-list-item>
       <mat-list-item class="list-item">
         <mat-checkbox [(ngModel)]="imagefilter" [checked]="imagefilter">Image<i class="nitem"> ({{ImageResult}})</i></mat-checkbox>
       </mat-list-item> -->