<div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="5px">
  <div class="container">
    <h1 align="center" class="mat-h1" style="margin-top: 24px">
      Repositories
    </h1>
    <mat-divider></mat-divider>
    <!-- repositories-nav-list class make this list scrollable -->
    <mat-nav-list role="list" class="repositories-nav-list" ng-attr-id="repositories-nav-list">
      <mat-list-item role="listitem" (click)="update(rep)" *ngFor="let rep of repositories">
        <div class="name">{{rep.name}}</div>
        <!-- This fills the remaining space of the current row -->
        <span class="fill-remaining-space"></span>
        <button mat-raised-button color="warn" (click)="delete(rep)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-list-item>
    </mat-nav-list>
    <button class="add" matTooltip="Add new Repository" mat-fab matTooltipPosition="above" (click)="create()">
      <mat-icon>add circle</mat-icon>
    </button>
  </div>
</div>