.add {
  position: fixed;
  bottom: 40px;
  right: 40px;
}

.container {
  width: 500px;
  margin-top: 90px;
}

.name {
  cursor: pointer;
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.fill-remaining-space {
  flex: 1 1 auto;
}
.repositories-nav-list{
  position: relative;
  overflow-y: auto;
  max-height: 390px;
}