<div>
  <h1 mat-dialog-title>Delete repository</h1>

  <mat-dialog-content fxLayout="column" style="font-family: Roboto, sans-serif">
    Are you sure to delete the {{data.name}} repository?
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button [mat-dialog-close]="true" tabindex="1">Yes</button>
    <button mat-button mat-dialog-close tabindex="-1">No</button>
  </mat-dialog-actions>
</div>
