
<h2 mat-dialog-title>Delete Search History</h2>
<mat-dialog-content>
  <h3>Are you sure to delete {{data.message}}?</h3>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button [mat-dialog-close]="true" tabindex="1">Yes</button>
  <button mat-button mat-dialog-close tabindex="-1">No</button>
</mat-dialog-actions>
