<div class="toolbar-container">
  <mat-toolbar color="primary" class="historybar" *ngIf="enableDelete()">
      <button mat-icon-button class="button-deselect" matTooltip="Deselect All" (click)="selecTo(false)">
        <mat-icon>close</mat-icon>
      </button>
      <span>{{getSelectedCount()}}</span>
      <span class="spacer"></span>
      <button mat-icon-button matTooltip="Select All" (click)="selecTo(true)">
        <mat-icon>done_all</mat-icon>
      </button>
      <button mat-icon-button matTooltip="Delete selected items">
        <mat-icon (click)="deleteSelected()">delete</mat-icon>
      </button>
  </mat-toolbar>
  <mat-progress-bar color="warn" mode="indeterminate" *ngIf="loading"></mat-progress-bar>
</div>

<h3 align="center" *ngIf="!dates || dates.length === 0">
  No history available.
</h3>
<div fxLayout="column" class="container">
  <smd-fab-speed-dial class="filter" [(open)]="open" [direction]="direction" [animationMode]="animationMode" [fixed]="fixed">
    <smd-fab-trigger [spin]="spin">
      <button mat-fab>
        <mat-icon>apps</mat-icon>
      </button>
    </smd-fab-trigger>
    <smd-fab-actions>
      <!-- <button mat-mini-fab matTooltip="Clear history" matTooltipPosition="above" (click)="deleteAll()">
        <mat-icon>delete</mat-icon>
      </button> -->
    </smd-fab-actions>
  </smd-fab-speed-dial>

  <mat-card fxFlex class="card" *ngFor="let date of dates; let i = index" [attr.data-index]="i">
    <mat-list class="list">
      <h1 class="mat-subheader">
        {{date | date:'EEEE, d MMMM y'}}
      </h1>
      <mat-list-item *ngFor="let sr of resultsByDate[i]">
        <!--<mat-checkbox color="primary" [id]="sr.id" [checked]="getCheckboxValue(sr.id)" (change)="setCheckbox(sr.id)"></mat-checkbox>-->
        <mat-checkbox color="primary" [id]="sr.id" [ngModel]="getCheckboxValue(sr.id)" (change)="setCheckbox(sr.id)"></mat-checkbox>
        <span class="hour">
          {{convertUTCToLocal(sr.date) | date: 'HH:mm'}}
        </span>
        <span class="query" (click)="goToSearchForm(sr)">
          {{sr.freeText}}
        </span>
      </mat-list-item>
    </mat-list>
  </mat-card>
</div>