.toolbar-container{
  height: 64px;
}
.card {
  margin-bottom: 4px;
  height: 100%;
}

.filter {
  bottom: 40px;
  right: 40px;
  position: fixed;
  z-index: 2;
}

h3 {
  margin-top: 74px;
  color: #8b8b8b;
  font-size: 1.4em;
}

.query:hover {
  cursor: pointer;
}

.hour {
  font-size: small;
  margin-left: 6px;
  width: 96px;
  color: rgb(100, 100, 100);
}

.list {
  width: 100%;
}

.card.mat-card {
  padding: 0;
}

.mat-subheader {
  border-bottom: solid 1px lightgray;
  color: #212121
}

.mat-list-item:nth-of-type(1) {
  margin-top: 8px;
}

.mat-list-item:nth-last-of-type(1) {
  margin-bottom: 8px;
}

/deep/ .mat-list-item .mat-list-item-content {
  height: 44px !important;
}

mat-checkbox {
  margin-right: 12px;
  margin-left: 6px;
  margin-bottom: 1px;
}

.search-history-container {
  padding: 24px;
}

.checkbox {
  position: absolute;
  left: 2px;
  top: 6px;
  font-size: 20px;
  color: white;
  opacity: 0.5;
}

.checked{
  color:  #fd9a7a;
  opacity: 1;
}

.card-selected{
  transform: scale3d(0.95, 0.95, 1);
}

.historybar{
  position: fixed;
  z-index: 3;
  padding: 0;
}

.spacer {
  flex: 1 1 auto;
}

mat-progress-bar {
  position: fixed; 
  margin-top: 64px;
  z-index: 4;
  box-shadow: none;
} 
.button-deselect {
  margin-left: 10px;
}