<div class="toolbar-container">
  <mat-toolbar color="primary" class="deletebar" *ngIf="enableDelete()">
    <button mat-icon-button class="button-deselect" matTooltip="Deselect All" (click)="selecTo(false)">
      <mat-icon>close</mat-icon>
    </button>
    <span>{{getSelectedCount()}}</span>
    <span class="spacer"></span>
    <button mat-icon-button matTooltip="Select All" (click)="selecTo(true)">
      <mat-icon>done_all</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Delete selected items">
      <mat-icon (click)="deleteSelected()">delete</mat-icon>
    </button>
  </mat-toolbar>
  <mat-progress-bar color="warn" mode="indeterminate" *ngIf="submitted"></mat-progress-bar>
</div>

<!-- search filters -->
<div class="container-sidebar">
  <app-filterbar [activeType]="activeType" [activeRepositories]="activeRepositories" [showSidebar]="showSidebar" (toggle)=setSidebar($event)></app-filterbar>
</div>

<h3 align="center" *ngIf="!bookmarks || bookmarks.length === 0">No bookmarks available.</h3>
<div class="container">
  <smd-fab-speed-dial *ngIf="!showSidebar" class="filter" [(open)]="open" [direction]="direction" [animationMode]="animationMode"
    [fixed]="fixed">
    <smd-fab-trigger [spin]="spin">
      <button mat-fab>
        <mat-icon>apps</mat-icon>
      </button>
    </smd-fab-trigger>
    <smd-fab-actions>
      <button mat-mini-fab matTooltip="Filter" matTooltipPosition="above" (click)="showSidebar = !showSidebar;">
        <mat-icon>tune</mat-icon>
      </button>
      <!-- <button mat-mini-fab  matTooltip="Delete All Bookmarks" matTooltipPosition="above" (click)="deleteAllByUser()"><mat-icon>delete</mat-icon></button> -->
    </smd-fab-actions>
  </smd-fab-speed-dial>
  <div class="sub_container-card" *ngFor="let item of bookmarks | filterbookmark: activeType : activeRepositories | paginate: { itemsPerPage: 20, currentPage: p }  ">
    <!--  <div *ngIf="filter(item.multimediaContent)"> -->
    <mat-card class="card" [ngClass]="getClassCard(item.id)" (mouseenter)="topbarIN($event)" (mouseleave)="topbarOUT($event)">
      <div class="topbar">
        <mat-icon [ngClass]="getClassCheckbox(item.id)" class="checkbox" [id]="item.id" (click)="setCheckbox(item.id)">check_circle</mat-icon>
      </div>
      <!-- <mat-checkbox class="checkbox" [id]="item.id"  [ngModel]="getCheckboxValue(item.id)" (change)="setCheckbox(item.id)"></mat-checkbox> -->
      <div class="image-card">
        <img mat-card-image [src]="getImage(item.multimediaContent)" (click)="openDialog(item.multimediaContent)">
        <div class="bar">
          <div [ngSwitch]="item.multimediaContent.type" class="type">
            <div *ngSwitchCase="'video'">
              <mat-icon>videocam</mat-icon>
            </div>
            <div *ngSwitchCase="'image'">
              <mat-icon>photo</mat-icon>
            </div>
            <div *ngSwitchCase="'audio'">
              <mat-icon>audiotrack</mat-icon>
            </div>
            <div *ngSwitchCase="'text'">
              <mat-icon>textsms</mat-icon>
            </div>
          </div>
          <div (click)="openDialog(item.multimediaContent)" class="title" [matTooltip]="item.multimediaContent.name">{{item.multimediaContent.name}}</div>
          <!-- <button class="del" mat-icon-button matTooltip="Delete Bookmark" (click)="removeBookmark(item)">
            <mat-icon>star</mat-icon>
          </button> -->
        </div>
      </div>
      <mat-card-content>
        <div class="detail-card" fxLayout="column">
          <div class="description">{{item.multimediaContent.description}}</div>
          <div>
            <img class="logo-card" src="/assets/images/{{item.multimediaContent.source.name}}.png" />
          </div>
          <div class="date-card">{{item.multimediaContent.date != null ? getDate(item.multimediaContent.date) : ''}}</div>
        </div>
      </mat-card-content>
    </mat-card>
    <!--</div>-->
  </div>
</div>

<div fxLayoutAlign="center" *ngIf="bookmarks && bookmarks.length > 0">
  <pagination-controls (pageChange)="p = $event" directionLinks="true" autoHide="true"></pagination-controls>
</div>