.toolbar-container{
  height: 64px;
}
.card {
  /*display:inline-block;
    display: inline-table;*/
  display: flow-root;
  width: 195px;
  height: 250px;
  margin: 3.77px;
  /* vertical-align: top;
    cursor: pointer;
    overflow: visible; */
}

.card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 1;
}

.detail-card {
  font-size: 11px;
  overflow-x: hidden;
  overflow-y: hidden;
  height: 100px;
  margin-top: 15px;
}

.image-card {
  height: 150px;
  width: 195px;
  display: flex;
  justify-content: center;
  /* align horizontal */
  align-items: center;
  /* align vertical */
  cursor: pointer;
}

.image-card img {
  max-height: 150px;
  max-width: 243px;
  /* image-card width:195px + 24px padding = 243px */
  object-fit: cover;
  -o-object-fit: cover;
}

.title-card {
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
}

.description {
  /*white-space: nowrap;*/
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  margin-top: 5px;
  height: 90px;
}

.logo-card {
  height: 25px;
  position: absolute;
  bottom: 5px;
  left: 5px;
}

.date-card {
  position: absolute;
  bottom: 5px;
  right: 5px;
  font-style: italic;
}

.sidebar {
  position: fixed;
  z-index: 2;
  width: 140px;
  /* sum padding */
  padding: 15px;
  /*left: -130px;    hide*/
  background-color: rgba(255, 255, 255, 0.6);
}

.sidebar:hover {
  background-color: rgb(255, 255, 255);
}

.subfilter_button {
  background-color: #fd9a7a;
  width: 30px;
  height: 30px;
  top: 0;
  position: absolute;
}

.list-item {
  font-size: 12px;
  height: 22px;
  /*display: initial;
      font-size: 12px;
    */
}

mat-checkbox {
  min-height: 100%;
  align-items: center;
}

.filter {
  bottom: 40px;
  right: 40px;
  position: fixed;
  z-index: 1;
}

.filter_button {
  width: auto;
  height: auto;
  top: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  /*left: 130px;  move button outside*/
}

.label {
  font-weight: bolder;
  font-size: 12px;
}

.nitem {
  font-size: 10px;
  font-weight: 800;
  color: red;
}

.close_button {
  width: 40px;
  height: 40px;
  top: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  /*left: 130px;  move button outside*/
}

.close_icon {
  vertical-align: sub;
}

.container {
  display: flex;
  flex-flow: row wrap;
  align-content: space-between;
  justify-content: center;
 /* margin: 0 16px 16px 16px;*/

}

.sub_container-card {
  height: 100%;
  padding: 4px;
}

.typefield {
  margin-top: 16px;
}

@media (min-width: 0px) and (max-width: 800px) {
  .container-sidebar {
    display: none;
  }
}

@media (min-width: 800px) and (max-width: 3000px) {
  .container-sidebar {
    display: flex;
  }
}

.type {
  position: absolute;
  bottom: 4px;
  left: 8px;
}

.del {
  position: absolute;
  right: 0;
  bottom: 0;
}

.topbar {
  position: absolute;
  height: 30px;
  top: 0;
  left: 0;
  width: 243px;
}



.topbar:hover {
  
  /*background-color: rgba(189, 189, 189, 0.50); 
  background: linear-gradient(to bottom left, rgb(227, 227, 227), rgb(199, 198, 198)); */
  background-image: linear-gradient(to top,rgba(0,0,0,0.26),transparent 56px,transparent);
}

.bar {
  position: absolute;
  height: 40px;
  top: 115px;
  width: 243px;
  background-color: rgba(189, 189, 189, 0.50);
}

.title {
  position: absolute;
  color: white;
  bottom: 14px;
  left: 40px;
  height: 12px;
  width: 170px;
  font-size: 11px;
  font-weight: bold;
  /* text-overflow: ellipsis; */
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  cursor: pointer;
}

.title:hover {
  color: grey;
}

.checkbox {
  position: absolute;
  left: 2px;
  top: 6px;
  font-size: 20px;
  color: white;
  opacity: 0.7;
  cursor: pointer;
}

.checkbox:hover{
  opacity: 1;
}

.checked{
  color:  #fd9a7a;
  opacity: 1;
}

.card-selected{
  transform: scale3d(0.95, 0.95, 1);
}

.deletebar{
  position: fixed;
  z-index: 3;
  padding: 0;
}

.spacer {
  flex: 1 1 auto;
}

h3 {
  margin-top: 10px;
  color: #8b8b8b;
  font-size: 1.4em;
}

mat-progress-bar {
  position: fixed; 
  margin-top: 62px;
  z-index: 3;
  box-shadow: none;
} 

.button-deselect {
  margin-left: 10px;
}