<h2 mat-dialog-title>Delete Bookmarks</h2>
<mat-dialog-content>
  Are you sure to delete {{data.message}}?
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button [mat-dialog-close]="true" tabindex="1">Yes</button>
  <button mat-button mat-dialog-close tabindex="-1">No</button>
</mat-dialog-actions>

<style>
  mat-dialog-content {
    font-family: Roboto, "Helvetica Neue", sans-serif;
  }

  mat-dialog-actions {
    justify-content: flex-end;
  }
</style>
