<div class="semantic-search" fxLayout="column" fxFlex="0 0 auto">

  <!--<hr class="custom-divider"> -->

  <form [formGroup]="form"
        (submit)="onSubmit(form.value)">

    <mat-card-subtitle>
      Don't know what you are looking for? Enter a URL or upload a document, and let us find some keywords for you!
    </mat-card-subtitle>

      <mat-form-field>
        <input matInput
               type="text"
               placeholder="URL"
               name="url"
               [formControl]="form.controls['url']"
               ngModel>
      </mat-form-field>

    <div fxLayout="row" fxLayoutAlign="space-between center" class="buttons-wrapper">

      <input-file (onFileSelect)="onFileSelect($event)"></input-file>

      <span class="file-name" *ngIf="_file">
        {{_file.name}}
      </span>

      <button mat-icon-button
              *ngIf="_file"
              (click)="removeFile(null)"
              class="file-delete-button">
        <mat-icon>delete</mat-icon>
      </button>

      <span *ngIf="_error" class="error">{{_error}}</span>

      <button mat-button
              type="submit"
              class="submit-button"
              (click)="this.onGATESubmit.emit()">
        SUBMIT
      </button>

    </div>

  </form>

  <mat-chip-list fxLayout="wrap" class="annotations-container" *ngIf="this._orderedAnnotations.length > 0">
    <mat-chip *ngFor="let annotation of this._orderedAnnotations; let i = index"
              (click)="searchForAnnotation(annotation)"
              class="badge {{this._annotationsTypes[i]}}"
              color="primary"
              selected="false">
      {{annotation}}
    </mat-chip>
  </mat-chip-list>

</div>
