<div class="smd-table-container">
    <table class="smd-data-table full-width">
        <caption>
            <ng-content select="smd-datatable-header"></ng-content>
        </caption>
        <thead>
            <tr>
                <th *ngIf="_shouldRenderCheckbox()">
                    <mat-checkbox [(ngModel)]="checked" (change)="_onMasterCheckChange()">
                    </mat-checkbox>
                </th>
                <th *ngFor="let column of columns" [class.smd-datatable-column-sortable]="column.sortable" [class.smd-numeric-column]="column.numeric" [class.smd-searchable]="column.searchable" (click)="_sortColumn(column)">
                    <span *ngIf="!column.searchable || column.searchable == 'false'" matTooltip="{{column.titleTooltip}}" [class.smd-sorted-asc]="column.sortDir == 'asc'" [class.smd-sorted-desc]="column.sortDir == 'desc'">{{column.title}}</span>
                    <mat-form-field floatPlaceholder="never" *ngIf="column.searchable == 'true'">
                        <input matInput [placeholder]="column.title" [(ngModel)]="column.search" (ngModelChange)="_onSearchChange($event, column.title);" type="text">
                        <mat-icon matSuffix class="material-icons">search</mat-icon>
                    </mat-form-field>
                </th>
            </tr>
            <tr *ngIf="responsive && _shouldRenderCheckbox()" class="smd-datatable-responsive-header">
                <th [attr.colspan]="columns.length + (_shouldRenderCheckbox() ? 1 : 0)">
                    <mat-checkbox [(ngModel)]="checked" (change)="_onMasterCheckChange()">
                    </mat-checkbox>
                    <mat-form-field floatPlaceholder="never" *ngIf="responsiveSearch">
                        <input matInput [(ngModel)]="search" (ngModelChange)="_onSearchChange($event, responsiveSearch);" type="text">
                        <mat-icon matSuffix class="material-icons">search</mat-icon>
                    </mat-form-field>
                </th>
            </tr>
        </thead>
        <tbody *ngIf="rows?.length > 0">
            <tr #dataTableRow smd-datatable-row *ngFor="let row of visibleRows" [class.is-selected]="row.checked" [row]="row" [renderCheckbox]="_shouldRenderCheckbox()" [columns]="columns"></tr>
        </tbody>
        <tfoot>
            <!-- Using hidden because *ngIf is conflicting with ViewChild(SmdPaginatorComponent) -->
            <tr [hidden]="!paginated || rows.length == 0">
                <td [attr.colspan]="columns.length + (_shouldRenderCheckbox() ? 1 : 0)">
                    <span>
                        <smd-paginator
                                [count]="rowCount"
                                [ranges]="paginatorRanges"
                                (pageChange)="_onPageChange($event)">
                        </smd-paginator>
                    </span>
                </td>
            </tr>
            <tr *ngIf="rows.length == 0 && responsive">
                <th [attr.colspan]="columns.length + (_shouldRenderCheckbox() ? 1 : 0)">
                    <mat-form-field floatPlaceholder="never">
                        <input matInput [(ngModel)]="search" (ngModelChange)="_onSearchChange($event, responsiveSearch);" type="text">
                        <mat-icon matSuffix class="material-icons">search</mat-icon>
                    </mat-form-field>
                </th>
            </tr>
            <tr *ngIf="rows.length == 0">
                <td [attr.colspan]="columns.length + (_shouldRenderCheckbox() ? 1 : 0)">
                    <span>
                        There are no items
                    </span>
                </td>
            </tr>
        </tfoot>
    </table>
</div>