<mat-toolbar color="primary" *ngIf="isLoggedIn()">

  <img id="logo" routerLinkActive="active" src="/assets/images/logo_producer_511x103.jpg" [routerLink]="['/home']">

  <button mat-button routerLinkActive="active" [routerLink]="['/search-history']"> Search History </button>
  <button mat-button routerLinkActive="active" [routerLink]="['/bookmarks']"> Bookmarks </button>

  <span class="user-menu">
    <label class="user">{{getLoggedUser()}}</label>
    <button mat-icon-button [matMenuTriggerFor]="appMenu" >   
      <img class="image_profile" [src]="getPicture()">
    </button>
    <mat-menu #appMenu="matMenu" >
      <button mat-menu-item [routerLink]="['/profile']"> Profile </button>
      <button mat-menu-item *ngIf="isAdmin()" [routerLink]="['/setting-rep']"> Settings </button>
      <button mat-menu-item (click)="logout()"> Logout </button>
    </mat-menu>
  </span>

</mat-toolbar>





