#logo {
  height: 25px;
  width: 128px;
  margin-right: 16px;
  outline: none;
  cursor: pointer;
}

mat-toolbar {
  position: fixed;
  z-index: 2;
  padding: 0;
}

.active {
  background-color: transparent;
  color: slategrey;
}

/*.breadcrumbs{
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
}*/

.user-menu {
  margin-left: auto;
}

.user{
  font-size: 13px;
}

.mat-elevation-z6 {
  background-color: dodgerblue;
}

.image_profile{
  height:30px;
  border-radius: 50%;
}