<div *ngFor="let breadcrumb of breadcrumbs; let i = index; let l = last">
          <!--  <a class="breadcrumb_item"  [routerLink]="[breadcrumb.url]"> {{ breadcrumb.label }}</a>  -->    
          <b class="breadcrumb_item"> {{ breadcrumb.label }}</b> 
</div>