<div class="smd-paginator">
    <div class="smd-paginator-range">
        Rows per page:
        <mat-select [(ngModel)]="selectedRange">
            <mat-option *ngFor="let range of ranges" [value]="range">
                {{range}}
            </mat-option>
        </mat-select>
    </div>
    <div class="smd-paginator-current-page">
        {{pageStart}}-{{pageEnd}} of {{count}}
    </div>
    <div class="smd-paginator-navigation">
        <button (click)="onPreviousClick($event)" [disabled]="pageStart == 1">
            <i class="material-icons">arrow_left</i>
        </button>
        <button (click)="onNextClick($event)" [disabled]="pageEnd == count">
            <i class="material-icons">arrow_right</i>
        </button>
    </div>
</div>
