<h1 mat-dialog-title>Register Repository on User</h1>
<form name="form" #f="ngForm">
  <mat-dialog-content>
    <div fxLayout="column" fxLayoutAlign="start">
      <div *ngIf="!data.userRepository.id" id="repository">

        <!-- TODO: can we remove this code?? -->
        <!--<mat-form-field>
        <mat-select placeholder="Repository"  [(ngModel)]="data.userRepository.repository"
          name="repository" required fxflex>
          <mat-option *ngFor="let rep of repositories" [value]="rep.name" fxflex>
            {{ rep.name }}
            
          </mat-option>
        </mat-select>
      </mat-form-field>-->

        <!-- ****** grid with available repositories ***** -->
        <h3 class="subheading-2">Select Repository:</h3>
        <mat-grid-list cols="3" rowHeight="2:1">
          <div *ngFor="let rep of repositories">
            <mat-grid-tile>
              <button md-raised-button (click)="selectRepository(rep.name)" [ngClass]="{ 'card-repo': true, 'disabledrepository':  checkRepository(rep.name) }">
                <img src="/assets/images/{{rep.name}}.png" />
              </button>
            </mat-grid-tile>
          </div>
        </mat-grid-list>
      </div>
      <div class="message">
        <h3 class="subheading-2" *ngIf="data.userRepository.id || data.userRepository.repository">Selected: {{data.userRepository.repository}}</h3>
        <h3 class="subheading-2" *ngIf="message !== ''">{{message}}</h3>
      </div>

      <!-- TODO: can we remove this code?? -->
      <!-- <mat-form-field fxFlex>
        <input matInput placeholder="username" value=" " id="username" name="username" [(ngModel)]="data.userRepository.username">
      </mat-form-field>
      <mat-form-field fxFlex>
        <input matInput placeholder="password" value="" id="password" name="password" [(ngModel)]="data.userRepository.password">
      </mat-form-field>
    -->
      <!-- ********** input token and validate ********* -->
      <form *ngIf="showapiKey(data.userRepository.repository)">
        <mat-grid-list cols='4' rowHeight="1:1">
          <mat-grid-tile colspan='3'>
            <mat-form-field>
              <input matInput placeholder="apiKey" value="" id="apiKey" name="apiKey" [(ngModel)]="data.userRepository.apiKey" required/>
              <span matSuffix>
                <mat-icon class="{{validator}}">{{validator}}</mat-icon>

              </span>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile colspan='1'>
            <button mat-button color="primary" class="button-validate" *ngIf="showapiKey(data.userRepository.repository)" mat-button
              (click)="validate(data.userRepository)">Validate
            </button>
          </mat-grid-tile>
        </mat-grid-list>
      </form>

      <!-- ********** vimeo token fields ********** -->
      <form *ngIf="data.userRepository.repository === 'Vimeo'">
        <!-- if we have not a token show input and get token button -->
        <form *ngIf="data.userRepository.token === ''">
          <mat-grid-list cols='4' rowHeight="1:1">
            <mat-grid-tile colspan='3'>
              <mat-form-field>
                <input matInput placeholder="token" value="" id="token" name="token" [(ngModel)]="data.userRepository.token" required>
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile colspan='1'>
              <span matSuffix>
                <button mat-button color="primary" (click)="getTokenVimeo(data.userRepository)">get Token</button>
              </span>
            </mat-grid-tile>
          </mat-grid-list>
        </form>
        <!-- if we have a token show input and cancel icon inside input field-->
        <form *ngIf="data.userRepository.token != ''">
          <mat-form-field>
            <input matInput placeholder="token" value="" id="token" name="token" [(ngModel)]="data.userRepository.token" required>
            <span matSuffix>
              <button mat-icon-button (click)="data.userRepository.token = ''">
                <mat-icon>clear</mat-icon>
              </button>
            </span>
          </mat-form-field>
        </form>
      </form>




    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button (click)="f.form.valid && data.userRepository.repository !== '' && upsert(data.userRepository)">Ok</button>
    <mat-progress-spinner *ngIf="loading" mode="indeterminate" color="warn" [strokeWidth]="1" [diameter]="32"></mat-progress-spinner>
    <button mat-button (click)="onClose()">Cancel</button>
  </mat-dialog-actions>
</form>
<!--  test form
<div>
	<p>Form value: <b> {{ f.form.value | json }} </b></p>
	<p>Form valid: <b> {{ f.form.valid }} </b></p>
	<p>Form touched: <b> {{ f.form.touched }} </b></p>
	<p>Form submitted: <b> {{ f.form.submitted }} </b></p>
</div>
-->