.container{
    width: 500px;
}

.mat-select {
    display: initial;
}

.add{
    position: fixed;
    bottom:40px;
    right:40px;
}
.add:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 1;
}
.name {
margin: 0 20px;
}
.chip-container{
    background-color: transparent;
}
.chip-container.mat-chip:not(.mat-basic-chip):focus{
    box-shadow: none;
}
#repository{
    width:auto;  
}

.card-repo{
    height: 100%;
    width: 100%;
    background-color: #ffffff;
}

.disabledrepository{
    opacity: 0.5;
}

.message {
    margin-top:10px;
}

.done{
    color: greenyellow;
}

.error{
    color: red;
}
.button-validate{
    margin: 10px 0;
}  
.fill-remaining-space {
    flex: 1 1 auto;
}

.repositories-nav-list{
    position: relative;
    overflow-y: auto;
    max-height: 380px;
}

mat-form-field {
    width: 100%;
}

snack-bar-container.success-snackbar /deep/ button{ color: #21F545;}

snack-bar-container.errorSnackBar /deep/ button{  color: #FF1100;}