<span>

    <input [accept]="accept" type="file" (change)="onNativeInputFileSelect($event)" #inputFile hidden />

    <button type="button" mat-button (click)="selectFile()">
        FILE
        <mat-icon>file_upload</mat-icon>
    </button>

</span>
