@import '~@angular/material/theming';

@import 'custom.scss';

// Common styles for Angular Material.
// Side note: make sure you include this only ONCE inside the app.
@include mat-core();

// Custom color palettes: change those to modify the theme
// Remember to pass new declared palettes to the theme creator at the bottom.
$ocd-app-primary: mat-palette($mat-deep-orange, 200);
$ocd-app-accent:  mat-palette($mat-amber, 300);
$ocd-app-warn: mat-palette($mat-red, 300);

// Create the theme objects with the defined palettes.
$ocd-app-theme: mat-light-theme($ocd-app-primary, $ocd-app-accent);

// Using the $theme variable from the pre-built theme you can call the theming function
@include ocd-app-theme($ocd-app-theme);

// Include the theme.
@include angular-material-theme($ocd-app-theme);

