<div class="container">

  <smd-fab-speed-dial class="filter" *ngIf="!showSidebar && nOfResults > 0" [(open)]="open" [direction]="direction" [animationMode]="animationMode" [fixed]="fixed">
    <smd-fab-trigger [spin]="spin">
      <button mat-fab>
        <mat-icon>apps</mat-icon>
      </button>
    </smd-fab-trigger>
    <smd-fab-actions>
      <button mat-mini-fab matTooltip="Filter" matTooltipPosition="above" (click)="showSidebar = !showSidebar;">
        <mat-icon>tune</mat-icon>
      </button>
    </smd-fab-actions>
  </smd-fab-speed-dial>

  <div class="container-sidebar">
    <app-filterbar [searchResult]="searchResult" [activeType]="activeType" [activeRepositories]="activeRepositories" [showSidebar]="showSidebar" (toggle)=setSidebar($event)></app-filterbar>
  </div>

  <div fxFlex>
      <mat-progress-bar color="warn" mode="indeterminate" *ngIf="submitted"></mat-progress-bar>
      <form name="form" #f="ngForm">
      <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="16px" class="form-container">
        <mat-form-field class="search-bar" fxFlex>
          <button mat-icon-button matPrefix (click)="f.form.valid && onSubmit()">
            <mat-icon>search</mat-icon>
          </button>
          <input matInput placeholder="Are you searching for" minlength="1" id="freeText" [(ngModel)]="searchForm.freeText" name="freeText">
          <button *ngIf="(searchForm.freeText.length !== 0)" mat-icon-button matSuffix (click)="clear()">
            <mat-icon>clear</mat-icon>
          </button>
        </mat-form-field>

        <mat-expansion-panel class="advanced-search">

          <mat-expansion-panel-header>
            <mat-panel-title>Advanced search</mat-panel-title>
          </mat-expansion-panel-header>
<!--
          <div fxLayout="row">
            <mat-form-field fxFlex>
              <input matInput [matDatepicker]="startdate" placeholder="Initial Date" id="InDate" [(ngModel)]="searchForm.inDate" name="inDate"
                     [max]="searchForm.endDate" required>
              <mat-datepicker-toggle matSuffix [for]="startdate"></mat-datepicker-toggle>
            </mat-form-field>

            <mat-datepicker #startdate></mat-datepicker>

            <mat-form-field fxFlex>
              <input matInput [matDatepicker]="enddate" placeholder="End Date" id="EndDate" [(ngModel)]="searchForm.endDate" name="endDate"
                     [min]="searchForm.inDate" required>
              <mat-datepicker-toggle matSuffix [for]="enddate"></mat-datepicker-toggle>
            </mat-form-field>

            <mat-datepicker #enddate></mat-datepicker>
          </div>
-->
          <semantic-search (onAnnotationClicked)="addAnnotationToSearchForm($event)"
                           (onGATESubmit)="this.submitted = true"
                           (onGATEResponse)="this.submitted = false">
          </semantic-search>

        </mat-expansion-panel>

      </div>

    </form>

    <div class="container-card" fxflex>

      <h3 class="mat-h3" *ngIf="nOfResults === 0">No results found!</h3>

      <!--<div class="sub_container-card" *ngFor="let sr of searchResult | paginate: { itemsPerPage: 20, currentPage: p }"> -->
          <div class="sub_container-card"  *ngFor="let sr of searchResult | filters: activeType : activeRepositories | paginate: { itemsPerPage: 24, currentPage: p }   ">
        <!-- <div *ngIf="filter(sr)"> -->

          <mat-card class="card">

            <div class="image-card">

              <img mat-card-image class="thumbnail" [src]="getImage(sr)" (click)="openDialog(sr)">

              <div class="bar">
                <div [ngSwitch]="sr.type" class="type">
                  <div *ngSwitchCase="'video'">
                    <mat-icon>videocam</mat-icon>
                  </div>
                  <div *ngSwitchCase="'image'">
                    <mat-icon>photo</mat-icon>
                  </div>
                  <div *ngSwitchCase="'audio'">
                    <mat-icon>audiotrack</mat-icon>
                  </div>
                  <div *ngSwitchCase="'text'">
                    <mat-icon>textsms</mat-icon>
                  </div>
                </div>
                <div (click)="openDialog(sr)" class="title" [matTooltip]="sr.name">{{sr.name}}</div>
                <button class="save" mat-icon-button [matTooltip]="stateBookmark(sr) == 'star' ? 'Delete Bookmark' : 'Save bookmark'" matTooltipPosition="above" (click)="checkSaveBookmark(sr)">
                  <mat-icon id="{{sr.uri}}">{{stateBookmark(sr)}}</mat-icon>
                </button>
                <!--<button class="info" mat-icon-button matTooltip="Click for more info." (click)="openDialog(sr)"><mat-icon>info</mat-icon></button>-->
              </div>

            </div>

            <mat-card-content class="content-card">
              <div class="detail-card" fxLayout="column">
                <div class="description">{{sr.description}}</div>
                <div>
                  <img class="logo-card" src="/assets/images/{{sr.source.name}}.png" />
                </div>
                <div class="date-card">{{sr.date != null ? getDate(sr.date) : ''}}</div>
              </div>
            </mat-card-content>

          </mat-card>

        <!-- </div> -->

      </div>

    </div>
    <div fxLayoutAlign="center" *ngIf="searchResult && searchResult.length > 0">
      <pagination-controls
      (pageChange)="p = $event"
      directionLinks="true"
      autoHide="true"
      ></pagination-controls>
    </div>
  </div>

</div>
