.card {
  display: flow-root;
  width: 195px;
  height: 250px;
  margin: 3.77px;
}

.card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 1;
}

.detail-card {
  font-size: 11px;
  overflow-x: hidden;
  overflow-y: hidden;
  height: 100px;
  margin-top: 15px;
}

.image-card {
  height: 150px;
  width: 195px;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
}

.image-card img {
  max-height: 164px;
  max-width: 243px; /* image-card width:195px + 24px padding = 243px */
  object-fit: cover;
  -o-object-fit: cover;
  cursor: pointer;
  border-radius: 2px 2px 0 0;
}

mat-progress-bar {
  position: fixed;
  z-index: 3;
  box-shadow: none;
  margin-top: 64px;
}

.title-card {
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
}

.description {
  /*white-space: nowrap;*/
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  height: 90px;
}

.logo-card {
  height: 12px;
  position: absolute;
  bottom: 5px;
  left: 5px;
}

.date-card {
  position: absolute;
  bottom: 5px;
  right: 5px;
  font-style: italic;
}

.sidebar{
  position: fixed;
  bottom:0;
  z-index: 2;
  width: 140px; /* sum padding */
  padding:15px;  /*left: -130px;    hide*/
  background-color: rgba(255,255,255,0.6);
}


.subfilter_button {
  background-color: #fd9a7a;
  width: 30px;
  height: 30px;
  top: 0;
  position: absolute;
}

.list-item {
  font-size: 12px;
  height: 22px;
  /*display: initial;
    font-size: 12px;
  */
}

mat-checkbox {
  min-height: 100%;
  align-items: center;
}

.filter{
  bottom: 40px;
  right: 40px;
  position: fixed;
  z-index: 2;
}

.filter_button {
  width: auto;
  height: auto;
  top: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  /*left: 130px;  move button outside*/
}

.form-container {
  padding: 16px;
}

.label {
  font-size: 13px;
  font-weight: 800;
}

.nitem{
  font-size: 10px;
  font-weight: 800;
  color:red;
}

.close_button {
  width: 40px;
  height: 40px;
  top: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  /*left: 130px;  move button outside*/
}


.close_icon {
  vertical-align: sub;
}

.container-card {
  display: flex;
  flex-flow: row wrap;
  align-content: space-between;
  justify-content: center;
  /* margin: 0 16px 16px 16px;*/
}

.sub_container-card {
  height: 100%;
  padding: 4px;
}

.typefield {
  margin-top: 16px;
}

@media (min-width: 0px) and (max-width: 800px) {
  .container-sidebar {
    display: none;
  }
}

@media (min-width: 800px) and (max-width: 3000px) {
  .container-sidebar {
    display: flex;
  }
}

.board {
  align-content: flex-end;
}

.type{
  position: absolute;
  bottom: 4px;
  left: 8px;
}


.save{
  position: absolute;
  right: 0;
  bottom: 0;

}

.bar{
  position: absolute;
  height: 40px;
  top: 121px;
  width: 243px;
  background-color: rgba(189, 189, 189, 0.50);
}

.title{
  position: absolute;
  color: white;
  bottom: 14px;
  left: 40px;
  height: 12px;
  width: 170px;
  font-size: 11px;
  font-weight: bold;
  /* text-overflow: ellipsis; */
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
}
.title:hover{
  color:grey;
  cursor: pointer;
}

.success-snackbar{
  background-color: #73FF00;
}

.search-container {
  padding: 16px;
}

form{
  margin-top: 135px;
}

.search-bar, .advanced-search {
  max-width: 40vw;
  width: 100%;
}

@media (max-width: 800px) {

  .search-bar, .advanced-search {
    max-width: 100%;
  }

}

h3 {
  margin-top: 84px;
  color: #8b8b8b;
  font-size: 1.4em;
}