mat-icon {
  cursor: pointer;
}

.edit-title-icon {
  margin-left: 24px;
}

.bookmark-icon {
  margin-left: auto;
  margin-bottom: 20px;
}

.bookmark-icon:hover {
  cursor: pointer;
}

.description {
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: rgba(0, 0, 0, 0.7);
}

.mat-card-actions {
  padding-top: 16px;
  margin-bottom: 0;
}

iframe {
  height: 40vw;
  max-height: 350px;
}

.dialog-content {
  max-width: 600px;
  max-height: 70vh !important;
  padding-bottom: 8px;
}

.dialog-container {
  max-height: 90vh;
}

.mat-chip-list {
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.tag:nth-child(1) {
  margin-left: 0;
}

.license, .date {
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: rgba(0, 0, 0, 0.4);
  font-size: 0.9em;
}

.license {
  margin-left: auto;
  font-style: italic;
}

.extra-info{
  display: flex;
  flex-direction: row;
  width: 100%;
}

.image-card {
    height: 60%;
    width: auto;
    max-height: 270px;
    max-width: 504px;
}

.video-iframe {

    margin: 0;
    background-color:transparent;
}

.videogular-container {
    width: 100%;
    height: 1080px;
    margin: auto;
    overflow: hidden;
}

@media (min-width: 1200px) {
    .videogular-container {
        width: 1170px;
        height: 658.125px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .videogular-container {
        width: 940px;
        height: 528.75px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .videogular-container {
        width: 728px;
        height: 409.5px;
    }
}

.detail-button {
  width:45px;
}

.badge{
  margin-left: 8px;
    background-color: #fd9a7a;
}

.badge:hover {
  cursor: pointer;
}

.video-container {
  margin-bottom: 16px;
}

.spinner{
    height:36px;
    width:36px;
    color:red;
}

.removeTag{
    height:12px;
    width:12px;
    font-size: 13px;
    vertical-align: middle;
    margin-left: 4px;
}

.title{
   width:500px;
   max-width: 80%;
}

.title .mat-input-element:disabled {
  color: #ff9e80;
}

.logo {
    margin-right: auto;
    margin-left: 16px;
}

.newtag{
    width: 33%;
}

.formats{
    width: 33%;
}

bookmarked{
    width: 24px;
    height: 24px;
}
